/* Inter variable font - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/InterVariable-latin.woff2) format('woff2');
}
